<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask on AWS EKS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <h1>🚀 Flask App on AWS EKS WITH GITHUB ACTIONS </h1>
            <p>Deployed with Docker, ECR, EKS, and LoadBalancer</p>
        </div>
    </header>

    <section class="hero">
        <h2>Welcome to Your Cloud-Powered Web App!</h2>
        <p>
            This Flask application is running on <strong>Amazon EKS</strong> with auto-scaling, 
            containers, and high availability — just like real production systems.
        </p>

        <a class="btn" href="#">Explore More</a>
    </section>

    <section class="features">
        <div class="feature">
            <h3>⚡ Fast</h3>
            <p>Optimized using Docker + Kubernetes Deployment.</p>
        </div>

        <div class="feature">
            <h3>☁ Cloud Native</h3>
            <p>Running on AWS EKS with LoadBalancer service.</p>
        </div>

        <div class="feature">
            <h3>🔐 Secure</h3>
            <p>Isolated containers with scalable architecture.</p>
        </div>
    </section>

    <footer>
        <p>Made with ❤️ using Flask + AWS EKS</p>
    </footer>

</body>
</html>

